{% extends 'base.html' %}
{% block title %}
Enter Author
{% endblock %}
{% block content %}
<div class="container">
<form action="{% url 'submit_author' %}"  method="post">
    {% csrf_token %}
    <div class="mb-3">
    <label for="authorname" class="form-label">Author Name:</label>
    <input type="text" id="authorname" name="authorname" class="form-control" required>
    </div>
    <div class="mb-3">
            <label for="city" class="form-label">City:</label>
            <input type="text" id="city" name="city" class="form-control" required>
        </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}