{% extends 'base.html' %}
{% block title %}
Edit books
{% endblock %}
{% block content %}
<div class="container">
<form action="{% url 'edit_books' book.id %}"  method="post">
    {% csrf_token %}
    <div class="mb-3">
    <label for="bookname" class="form-label">Book Name:</label>
    <input type="text" id="bookname" name="bookname" value = '{{ book.book_name }}' class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <textarea id="description" name="description"  class="form-control" rows="3" required>{{ book.description }}</textarea>
  </div>
  <div class="mb-3">
    <label for="published_date" class="form-label">Published Date:</label>
    {% with published_date=book.published_date|date:'Y-m-d' %}
        <input type="date" id="published_date" name="published_date" value="{{ published_date }}" class="form-control" required>
    {% endwith %}
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price:</label>
    <input type="number" id="price" name="price" value = '{{ book.price }}' class="form-control" step="0.01" required>
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category:</label>
    <input type="text" id="category" name="category" value = '{{ book.category.category_name }}' class="form-control" required>
  </div>
   <div class="mb-3">
        <label for="author" class="form-label">Author:</label>
        <select id="author" name="author" class="form-control" required>
             {% for author in authors %}
            <option value="{{ author.pk }}" {% if author.pk == book.author.pk %} selected {% endif %}>{{ author.author_name }}</option>
            {% endfor %}
        </select>
    </div>
     <div class="mb-3">
    <label for="city" class="form-label">City:</label>
    <select id="city" name="city" class="form-control" required>
      {% for city in cities %}
        <option value="{{ city.id }}" {% if city.id == book.author.city.id %} selected {% endif %}>{{ city.city_name }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit"  value = 'Edit' class="btn btn-primary">Save Changes</button>
</form>
</div>
{% endblock %}